<html>
<head>
<title>Registration complete</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" type="text/css">
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
}
a:hover {
    text-decoration: none;
}

</style>
</head>
<body>
<div class="container my-5">
    
            <div class="d-flex align-items-center bg-light p-4 row my-5">
                
                <div class="col-md-8 ">
                    <div class="d-flex justify-content-between my-3">
                        <h4 class="text-capitalize">Account registered   :)</h4>
                    
                    </div>
                    <div>
                        <p class="my-4">
                      Your account has been registered successfully.. we will notify you once the app is launched!</p>
                       <a href="/">Go home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>